body
{
    background-color: #F7EFE5;
    text-align: center;
}

.name,.description
{
    opacity: 1;
    color: black;
}

.name
{
    margin: 0 auto 0 auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'Satisfy', cursive;
    font-size: 90px;

}

.description
{
    margin-top: 0;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    font-size: 30px;
}

.top-container
{
    background-color: #91bcecbd;
    padding: 50px;
    height: 50%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
}

.span-pro
{
    text-decoration: underline;
}

.bottom-cloud,.top-cloud
{
    position: absolute;
}

.bottom-cloud
{
    left:25%;
    top: 60%;
}

.top-cloud
{
    right:25%;
    top: 2%;
}

.profile-img
{
    max-width: 15%;
    height: auto;
}

.jet-image
{
    max-width: 15%;
    height: auto;
}

.pc-image
{
    max-width: 10%;
    height: auto;
}

.mountain-img
{
    width: 100%;
}